body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.panell{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.header {
    grid-column: 1 / 4;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 30px;
}

.memory-next {
    grid-column: 1;
    grid-row: 2;

    align-self: center;
    justify-self: center;

    display: flex;
    width: 200px;
    height: 200px;
    margin: 5px;
    border: 1px solid #ccc;
}

.memory-game {
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
}

.memory-message {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center
}

.buttons{
    grid-column: 2;
    grid-row: 3;
    align-self: center;
    justify-self: center
}

.row {
    display: flex;
}

.card {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.card:hover {
    cursor: pointer;
}

/* Colores pastel */
.color1 {
    background-color: #f5f5dc;
}
.color2 {
    background-color: #fdfd96;
}
.color3 {
    background-color: #d8bfd8;
}
.color4 {
    background-color: #e00000;
}
.color5 {
    background-color: #ffbf80;
}
.color6 {
    background-color: #836953;
}
.color7 {
    background-color: #366959;
}
.color8 {
    background-color: #96ffe0;
}
.color9 {
    background-color: #2b064d;
}
.color10 {
    background-color: #d1c2ff;
}
.color11 {
    background-color: #d2bead;
}
.color12 {
    background-color: #a2c8cc;
}
.color13 {
    background-color: #d98cb3;
}

.color14 {
    background-color: #d6ff80;
}
.color15 {
    background-color: #ff6961;
}
.color16 {
    background-color: #84b6f4;
}

 .button-3 {
     cursor: pointer;
     outline: 0;
     color: #fff;
     background-color: #0d6efd;
     display: inline-block;
     font-weight: 400;
     line-height: 1.5;
     text-align: center;
     border: 1px solid transparent;
     padding: 6px 12px;
     font-size: 16px;
     border-radius: .25rem;
     transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
     :hover {
         color: #fff;
         background-color: #0b5ed7;
         border-color: #0a58ca;
     }

 }
.slidecontainer {
    width: 100%; /* Width of the outside container */
    grid-column: 3;
    grid-row: 2;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
